.brd {
    border: 1px black;
    background: #FFFFFF;
    padding: 55px 45px 65px 45px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
H1 {
  text-align: center;
  font-family: 'Times New Roman', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
img {
   display:block;
   margin:0 auto;
   border-radius: 15px;
   width: 180px;
   height: 180px;
 }
.inside {
  text-align: justify;
  font-family: 'Times New Roman', sans-serif;
  font-size: 16px;
  line-height: 25px;
  padding: 10px;
}
ul {
   padding: 0;
   margin-left: 25px;
}
p {
  margin-bottom: 1em;
   }
